@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: black;
}
*{
    margin: 0;   
    padding: 0;
    
}

.navbar-menu{
    
    max-width: 100%;
    max-height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    
    
}
.logo img{
    width: 150px;
    height: 100px;
}

.menu-bar{
    display: flex;
    flex-direction: row; 
    gap: 50px;
    color: aliceblue;
    list-style: none;
}

/* layouting */
.content-wrapper{
    width: 1000px;
    height: 500px;
    margin: 100px;
    margin-left: 300px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 50px;

   
    
}



.content-1{
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    height: 300px;
    
    background-color: rgb(255, 255, 255);
 
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
    
    
    
   
    
}


.content-1 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-2{
     box-shadow: 6px 4px 3px rgb(245, 241, 241);
     height: 300px;
   
    background-color: rgb(236, 233, 233);
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
   
}


.content-2 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-3{
    border-radius: 30px;
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    background-color: rgb(255, 255, 255);
    column-gap: 20px;
    color: aliceblue;
}

.content-3 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: red;
}
.content-1 :hover,
.content-2 :hover,
.content-3 :hover {
    transform: scale(1.2);
    transition: 1s;

    img{
        box-shadow: 5px 3px 5px red;
    }
    
}

.non:hover{
    transform: scale(0.7);
    transition: 1s;
    color: red;
   background-color: aliceblue;
   border-radius: 10px;
   padding: 10px;
}

.content-wrapper-fashion{
    max-width: 100%;
    background-color: aliceblue;
}

.content-about{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}


.content-about-1{
    grid-column-start: 1/3;
    background-color: red;
    padding: 20px;
    width: 100px;
    height: 100px;

}

.content-about-2{
    grid-column-start: 2/3;
    background-color: blue;
    padding: 20px;
    width: 100px;
    height: 100px;
    
}

.content-about-3{
    grid-column-start: 3/3;
    background-color: brown;
    padding: 20px;
    width: 100px;
    height: 100px;
    
}

.maincontent-about{
    width: auto;
    height: 1000px;
    background-color: rgb(238, 233, 233);
    padding: 100px;
}
.main-about-content{
    width: auto;
    height: 300px;
    background-color: black;
    background-image: url(https://bulangandsons.com/cdn/shop/articles/BS-Louis-Vuitton-04_3a996ea8-7e92-4bc3-8dba-9c94c03df075.jpg?v=1758102409&width=2048);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 3px 8px black;
    border-radius: 30px;
    color: aliceblue;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
    font-size: 100px;
    padding: 50px;
    padding-top: 500px;
    filter: blur(5px);
    transform: scale(1.1)
    
}

