@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=BBH+Hegarty&family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=BBH+Hegarty&family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=BBH+Hegarty&family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: black;
     opacity: 0;
    transition: opacity 1.5s ease-in-out;
}
*{
    margin: 0;   
    padding: 0;
    
}

.navbar-menu{
    
    max-width: 100%;
    max-height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    
    
}
.logo img{
    width: 150px;
    height: 100px;
}

.menu-bar{
    display: flex;
    flex-direction: row; 
    gap: 50px;
    color: aliceblue;
    list-style: none;
}

/* layouting */
.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}



.content-1{
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    height: 300px;
    
    background-color: rgb(255, 255, 255);
 
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
    
    
    
   
    
}


.content-1 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-2{
     box-shadow: 6px 4px 3px rgb(245, 241, 241);
     height: 300px;
   
    background-color: rgb(236, 233, 233);
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
   
}


.content-2 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-3{
    border-radius: 30px;
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    background-color: rgb(255, 255, 255);
    column-gap: 20px;
    color: aliceblue;
}

.content-3 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: red;
}
.content-1 :hover,
.content-2 :hover,
.content-3 :hover {
    transform: scale(1.2);
    transition: 1s;

    img{
        box-shadow: 5px 3px 5px red;
    }
    
}

.non:hover{
    transform: scale(0.7);
    transition: 1s;
    color: red;
   background-color: aliceblue;
   border-radius: 10px;
   padding: 10px;
}

.content-wrapper-fashion{
    max-width: 100%;
    background-color: aliceblue;
}

.content-about{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    background-color: rgb(238, 233, 233);
    position: absolute;
    width: 100%;
}


.content-about-1{
    grid-column-start: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 120%;
    height: 100px;
    margin-left: 100px;
    border-radius: 40px;
    box-shadow: 5px 7px 4px black;
    margin-bottom: 60px;

}

.content-about-2{
    grid-column-start: 3;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width:120%;
    height: 100px;
    margin-left: 20px;
    border-radius: 40px;
    box-shadow: 5px 7px 4px black;
    margin-bottom: 60px;
    
}



.maincontent-about{
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    
}
.main-about-content {
    position: relative;
    width: auto;
    
    height: 500px;
    border-radius: 30px;
    overflow: hidden; /* กันภาพเบลอเกินขอบ */
    padding: 50px;
    padding-top: 60px;
   
    box-shadow: 5px 3px 8px black;
}

/* พื้นหลังใส่ใน ::before */
.main-about-content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(https://bulangandsons.com/cdn/shop/articles/BS-Louis-Vuitton-04_3a996ea8-7e92-4bc3-8dba-9c94c03df075.jpg?v=1758102409&width=2048);
    background-size: cover;
    background-position: center;
    filter: blur(12px);
    transform: scale(1.1); /* ป้องกันขอบเบลอ */
    z-index: 0;
}

.wrapper-home{
    position: relative;
    height: 100vh;
    width: 100%;
}

.content-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
    color: aliceblue;
    
    padding: 50px;
    
}
.wrapper-home::before{
    
    background-image: url(https://www.sellierknightsbridge.com/cdn/shop/articles/AdobeStock_544759729_Editorial_Use_Only_613eee95-40d5-4be3-8c39-5a58fdeadc71.jpg?v=1668771633);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
    position: absolute;
    content: "";
    inset: 0;
    
        
    

    
}

/* เนื้อหาอยู่ด้านบน ไม่โดนเบลอ */
.main-about {
    text-align: center;
    position: relative;
    margin-top: 100px;
    /* padding-top: 120px;
    padding-left: 340px; */
    z-index: 1;
    color: white;
    font-size: clamp(30px, 6vw, 100px);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-shadow: 4px 3px 6px black;
}
.a{
    color: black;
}
.botchat{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100px;
    z-index: 999;
    
}

.botchat img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.botcaht-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.item-grid{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    width: auto;
    height: auto;
    column-gap: 50px;
    row-gap: 50px;
   

}

.item-1{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;

   
}
.item-1 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-2{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}

.item-2 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}

.item-3{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
}

.item-3 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-4{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}

.item-4 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-5{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}
.item-5 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-6{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
    
}
.item-6 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-7{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
    
}
.item-7 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-8{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}
.item-8 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-9{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}
.item-9 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}






.item-1 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}




.item-2 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}




.item-3 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}





.item-4 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}




.item-5 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}




.item-6 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}



.item-7 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}



.item-8 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}




.item-9 img:hover{
   transform: scale(1.3);
   transition: 2s;
   background-color: black;
   
}
.detailproduct-wrapper{
    width: 100%;
    height: auto;
}


.detail{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    
}

.content-product-1{
    grid-column: 1/2;
    width: 100%;
    height: 500px;
    
}

.content-product-1 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.content-product-2{
   
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 80px;

}


.content-product-3{
   
    
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 80px;
    grid-column: 1 / 3;
   
}

.content-in{
    padding: 30px;
}

.qty-control{
    
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 15px;
  
    
}
.add{
    width: 200px;
    height: 45px;
   
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}
.add:hover{
    background-color: #b30000;
    border-radius: 10px;
    transform: scale(1.1);
}
.add:active{
    transform: scale(0.95);
   
}

.qty-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}




.qty-btn:hover{
    background-color: #b30000;
    transform: scale(1.1);
}

.qty-btn:active{
    transform: scale(0.95);
}

.qty-input{
    width: 60px;
    text-align: center;
    font-size: 20px;
    border: none;
    background: transparent;
    color: black;
}




.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://th.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%E0%B8%AB%E0%B8%A5%E0%B8%B8%E0%B8%A2%E0%B8%AA%E0%B9%8C-%E0%B8%A7%E0%B8%B4%E0%B8%95%E0%B8%95%E0%B8%AD%E0%B8%87--LV_monogram_black_nobg_highres_Stores_DI3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.wrapper-user-info {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* layer background */
.wrapper-user-info::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/29/9d/1c/louis-vuitton-store-at.jpg?w=900&h=500&s=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  filter: blur(6px);
  transform: scale(1.05); /* กันขอบแตก */
  z-index: -1;
}


.div-user-info{
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.4);
    width: 1000px;
    height: 60vh;
    padding-top: 30px;
   text-align: center;
    overflow: hidden;
    border-radius: 30px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.login-title{
   margin-top: -20px; 
  width: 600px;
  height: 600px;
  border-radius: 60px;
  backdrop-filter: blur(10px);
  background: rgba(130, 115, 115, 0.4);
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 30px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
   

}
.log{
    padding-top: 150px;
    
}
.UsernameInput{
    width: 200px;
    height: 40px;
    text-align: center;
}
.PasswordInput{
    width: 200px;
    height: 40px;
    text-align: center;
}
.UsernameInput{
    box-shadow: 3px 3px 4px black;
}
.UsernameInput:hover{
    box-shadow: 3px 3px 4px rgb(211, 3, 3);
}
.PasswordInput{
    box-shadow: 3px 3px 4px black;
}
.PasswordInput:hover{
     box-shadow: 3px 3px 4px rgb(211, 3, 3);
}
.btn-login{
     width: 100px;
    height: 45px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}



.btn-login:hover{
     width: 100px;
    height: 45px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(130, 0, 0);
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}


.content-homepage-Wrapper{
    margin-top: 40px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    max-width: 100%;
    max-height: 100%;
   
}



.content-homepage-1{
    margin-left: 100px;
    width: 500px;
    height: 500px;
    border-radius: 30px ;  
    background-color: azure;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    
}
.homepage-img-1{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
.homepage-img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    
    

}
.homepage-img-1{
    display: flex;
    justify-content: center;
    align-items: center ;
}
/* .homepage-img-1 img{
   width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    

} */


.content-homepage-2{
    margin-left: 100px;
    width: 700px;
    height: 500px;
    border-radius: 30px ;  
    background-color: azure;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    
}

 .content-homepage-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
}
/* Animtion product */
@keyframes fadedproduct{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade-in {
    animation: fadedproduct 0.5s ease-in-out;
}
