@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: black;
}
*{
    margin: 0;   
    padding: 0;
    
}

.navbar-menu{
    
    max-width: 100%;
    max-height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    
    
}
.logo img{
    width: 150px;
    height: 100px;
}

.menu-bar{
    display: flex;
    flex-direction: row; 
    gap: 50px;
    color: aliceblue;
    list-style: none;
}

/* layouting */
.content-wrapper{
    width: 1000px;
    height: 500px;
    margin: 100px;
    margin-left: 300px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 50px;

   
    
}



.content-1{
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    height: 300px;
    
    background-color: rgb(255, 255, 255);
 
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
    
    
    
   
    
}


.content-1 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-2{
     box-shadow: 6px 4px 3px rgb(245, 241, 241);
     height: 300px;
   
    background-color: rgb(236, 233, 233);
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
   
}


.content-2 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-3{
    border-radius: 30px;
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    background-color: rgb(255, 255, 255);
    column-gap: 20px;
    color: aliceblue;
}

.content-3 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: red;
}
.content-1 :hover,
.content-2 :hover,
.content-3 :hover {
    transform: scale(1.2);
    transition: 1s;

    img{
        box-shadow: 5px 3px 5px red;
    }
    
}

.non:hover{
    transform: scale(0.7);
    transition: 1s;
    color: red;
   background-color: aliceblue;
   border-radius: 10px;
   padding: 10px;
}

.content-wrapper-fashion{
    max-width: 100%;
    background-color: aliceblue;
}

.content-about{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    background-color: rgb(238, 233, 233);
    position: absolute;
    width: 100%;
}


.content-about-1{
    grid-column-start: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 120%;
    height: 100px;
    margin-left: 100px;
    border-radius: 40px;
    box-shadow: 5px 7px 4px black;
    margin-bottom: 60px;

}

.content-about-2{
    grid-column-start: 3;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width:120%;
    height: 100px;
    margin-left: 20px;
    border-radius: 40px;
    box-shadow: 5px 7px 4px black;
    margin-bottom: 60px;
    
}



.maincontent-about{
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    
}
.main-about-content {
    position: relative;
    width: auto;
    
    height: 500px;
    border-radius: 30px;
    overflow: hidden; /* กันภาพเบลอเกินขอบ */
    padding: 50px;
    padding-top: 60px;
   
    box-shadow: 5px 3px 8px black;
}

/* พื้นหลังใส่ใน ::before */
.main-about-content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(https://bulangandsons.com/cdn/shop/articles/BS-Louis-Vuitton-04_3a996ea8-7e92-4bc3-8dba-9c94c03df075.jpg?v=1758102409&width=2048);
    background-size: cover;
    background-position: center;
    filter: blur(12px);
    transform: scale(1.1); /* ป้องกันขอบเบลอ */
    z-index: 0;
}

/* เนื้อหาอยู่ด้านบน ไม่โดนเบลอ */
.main-about {
    text-align: center;
    position: relative;
    margin-top: 100px;
    /* padding-top: 120px;
    padding-left: 340px; */
    z-index: 1;
    color: white;
    font-size: 100px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-shadow: 4px 3px 6px black;
}
.a{
    color: black;
}
.botchat{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100px;
    z-index: 999;
    
}

.botchat img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.botcaht-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.item-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    width: auto;
    height: auto;
    column-gap: 50px;
    row-gap: 50px;
   

}

.item-1{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;

   
}
.item-1 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-2{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}

.item-2 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}

.item-3{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
}

.item-3 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-4{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}

.item-4 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-5{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}
.item-5 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-6{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
    
}
.item-6 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-7{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
    
}
.item-7 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-8{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}
.item-8 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.item-9{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
   
}
.item-9 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}






.item-1 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}




.item-2 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}




.item-3 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}





.item-4 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}




.item-5 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}




.item-6 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}



.item-7 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}



.item-8 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}




.item-9 :hover{
   transform: scale(1.3);
   transition: 2s;
   box-shadow: 3px 2px 2px rgb(255, 255, 255);
   background-color: black;
   
}
.detailproduct-wrapper{
    width: 100%;
    height: auto;
}


.detail{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    
}

.content-product-1{
    grid-column: 1/2;
    width: 100%;
    height: 500px;
    
}

.content-product-1 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.content-product-2{
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 80px;

}


.content-product-3{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 80px;
    grid-column: 1 / 3;
   
}