body{
    margin: 0;
    padding: 0;
    background-color: black;
}
*{
    margin: 0;   
    padding: 0;
    
}

.navbar-menu{
    
    max-width: 100%;
    max-height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    
    
}
.logo img{
    width: 150px;
    height: 100px;
}

.menu-bar{
    display: flex;
    flex-direction: row; 
    gap: 50px;
    color: aliceblue;
    list-style: none;
}

/* layouting */
.content-wrapper{
    width: 1000px;
    height: 500px;
    margin: 100px;
    margin-left: 300px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 50px;

   
    
}



.content-1{
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    height: 300px;
    
    background-color: rgb(255, 255, 255);
 
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
    
    
    
   
    
}


.content-1 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-2{
     box-shadow: 6px 4px 3px rgb(245, 241, 241);
     height: 300px;
   
    background-color: rgb(236, 233, 233);
    column-gap: 20px;
    color: aliceblue;
    border-radius: 30px;
   
}


.content-2 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}

.content-3{
    border-radius: 30px;
    box-shadow: 6px 4px 3px rgb(245, 241, 241);
    height: 300px;
    background-color: rgb(255, 255, 255);
    column-gap: 20px;
    color: aliceblue;
}

.content-3 img{
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
}

